.button {
  padding: 0 40px;
  display: inline-flex;
  place-items: center;
  height: 48px;
  border-radius: 4px;
  background-color: orange;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
