* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10vw 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
}

:root {
  --color-primary-main: #254edb;
  --color-primary-dark: #102693;

  --text-4xl: 40px;
  --text-3xl: 33px;
  --text-2xl: 27px;
  --text-xl: 23px;
  --text-lg: 19px;
  --text-md: 16px;
}

@media (min-width: 900px) {
  :root {
    --text-4xl: 68px;
    --text-3xl: 50px;
    --text-2xl: 37px;
    --text-xl: 28px;
    --text-lg: 21px;
  }
}
